# Create a file named terraform.tfvars with the content below and put your
# variables instead of placeholders. Terraform will automatically load them,
# and you don't have to type it repeatedly when you'll run Terraform commands.
#
# All available variables can be seen in variables.tf file and overridden here.

do_token = "INSERT-YOUR-DIGITALOCEAN-TOKEN"

ssh_key_fingerprint = "INSERT-YOUR-SSH-FINGERPRINT"

ssh_private_key = "INSERT-PATH-TO-YOUR-PRIVATE-SSH-KEY"

admin_allowed_ip_address = "INSERT-ALLOWED-IP-ADDRESS-FOR-ADMIN-ACCESS"

admin_password = "INSERT-ADMIN-PASSWORD"
